div.cl-pg-nums {
  display: inline-block;
  flex: 0 0 auto;

  background: #eee;
  width: 2em;
  padding: 4px 0;
  overflow: hidden;
  margin: 0;

  p {
    font-size: 0.8em;
    line-height: 16px;
    margin: 0;
    padding: 0 3px 0 0;
    border: 0;
    text-align: right;
    color: #777;
  }
}
